@font-face {
    font-family: 'Intrepid';
    src: url('../webfonts/Intrepid.woff2') format('woff2'),
        url('../webfonts/Intrepid.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../webfonts/HelveticaNeue-Heavy.woff2') format('woff2'),
        url('../webfonts/HelveticaNeue-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../webfonts/HelveticaNeue-HeavyItalic.woff2') format('woff2'),
        url('../webfonts/HelveticaNeue-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../webfonts/HelveticaNeue-Italic.woff2') format('woff2'),
        url('../webfonts/HelveticaNeue-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../webfonts/HelveticaNeue-LightItalic.woff2') format('woff2'),
        url('../webfonts/HelveticaNeue-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../webfonts/HelveticaNeue-MediumItalic.woff2') format('woff2'),
        url('../webfonts/HelveticaNeue-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../webfonts/HelveticaNeue-Medium.woff2') format('woff2'),
        url('../webfonts/HelveticaNeue-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../webfonts/HelveticaNeue-Roman.woff2') format('woff2'),
        url('../webfonts/HelveticaNeue-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../webfonts/HelveticaNeue-Thin.woff2') format('woff2'),
        url('../webfonts/HelveticaNeue-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../webfonts/HelveticaNeue-UltraLight.woff2') format('woff2'),
        url('../webfonts/HelveticaNeue-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../webfonts/HelveticaNeue-UltraLightItalic.woff2') format('woff2'),
        url('../webfonts/HelveticaNeue-UltraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../webfonts/HelveticaNeue-Black.woff2') format('woff2'),
        url('../webfonts/HelveticaNeue-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../webfonts/HelveticaNeue-BlackItalic.woff2') format('woff2'),
        url('../webfonts/HelveticaNeue-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../webfonts/HelveticaNeue-Bold.woff2') format('woff2'),
        url('../webfonts/HelveticaNeue-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../webfonts/HelveticaNeue-BoldItalic.woff2') format('woff2'),
        url('../webfonts/HelveticaNeue-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../webfonts/HelveticaNeue-Heavy.woff2') format('woff2'),
        url('../webfonts/HelveticaNeue-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../webfonts/HelveticaNeue-HeavyItalic.woff2') format('woff2'),
        url('../webfonts/HelveticaNeue-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../webfonts/HelveticaNeue-Italic.woff2') format('woff2'),
        url('../webfonts/HelveticaNeue-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../webfonts/HelveticaNeue-Light.woff2') format('woff2'),
        url('../webfonts/HelveticaNeue-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../webfonts/HelveticaNeue-LightItalic.woff2') format('woff2'),
        url('../webfonts/HelveticaNeue-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../webfonts/HelveticaNeue-MediumItalic.woff2') format('woff2'),
        url('../webfonts/HelveticaNeue-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../webfonts/HelveticaNeue-Medium.woff2') format('woff2'),
        url('../webfonts/HelveticaNeue-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../webfonts/HelveticaNeue-Roman.woff2') format('woff2'),
        url('../webfonts/HelveticaNeue-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../webfonts/HelveticaNeue-Thin.woff2') format('woff2'),
        url('../webfonts/HelveticaNeue-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../webfonts/HelveticaNeue-ThinItalic.woff2') format('woff2'),
        url('../webfonts/HelveticaNeue-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../webfonts/HelveticaNeue-UltraLight.woff2') format('woff2'),
        url('../webfonts/HelveticaNeue-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../webfonts/HelveticaNeue-UltraLightItalic.woff2') format('woff2'),
        url('../webfonts/HelveticaNeue-UltraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

